.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  background-color: transparent;

  .login_content {
    flex-direction: column;
    gap: 1rem;
  }

  .form,
  .img {
    height: 100%;
    width: 50%;
  }

  .w50 {
    width: 50%;
  }

  .form {
    flex-direction: column;
  }

  .redes {
    flex-direction: column;
    gap: .75rem;
    padding: 1rem 0;
  }

  .g-button {
    width: 100%;
    height: 3rem;
    border-radius: 6px;
    background: transparent;
    border: 1px solid #dfe7ef;

    p {
      font-size: medium;
    }

    img {
      height: 100%;
      width: auto;
      padding: .25rem;
    }
  }

  .login {
    padding: 1.5rem 0;
  }

  .login-btn {
    width: 25%;
    border: none;
    background: var(--cor_padrao);
    color: #fff;
    font-weight: 700;
    font-size: large;
    padding: .75rem 0;
    border-radius: 6px;

    p {
      margin: 0;
    }
  }

  .form_values {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 50%;

    span,
    input {
      width: 100%;
    }
  }

  .cad {
    text-align: center;

    .link {
      font-weight: 700;
      cursor: pointer;
      color: var(--cor_padrao);
    }
  }

  .img {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    img.student {
      height: 60%;
      transform: scaleX(-1);
    }
  }

  ::ng-deep .p-password {
    width: 100%;

    input {
      width: 100%;
    }
  }
}