<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<section class="sidenav flex flex-column justify-content-between min-h-full">
  <section class="w-full p-2">
    <section class="profile flex flex-row align-items-center w-full">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" styleClass="mr-2"
        size="xlarge" shape="circle"></p-avatar>
      <section class="flex flex-row justify-content-between align-items-center h-full w-full">
        <section class="flex flex-column">
          <p class="m-0 text-base font-bold">Name</p>
          <p class="m-0 text-sm font-normal text-color-secondary">Administrator</p>
        </section>
        <section class="">
          <p-button size="small" label="sair" (click)="logout($event)" [text]="true"
            [raised]="true"></p-button>
        </section>
      </section>
    </section>
    <section class="menu-list p-2">
      <ul class="menu">
        @for (item of menu; track $index) {
        <li>
          @if(!item.subitems){
          <a class="cursor-pointer" (click)="item?.action()">
            <section class="menu-icon">
              <i [class]="item.icon"></i>
            </section>
            <span>{{item.label}}</span>
          </a>
          }@else {
          <a class="cursor-pointer flex flex-row justify-content-between align-items-center" (click)="toogleMenu(item)">
            <section class="flex flex-row align-items-center gap-2">
              <section class="menu-icon">
                <i [class]="item.icon"></i>
              </section>
              <span>{{item.label}}</span>
            </section>
            <i [class]="item?.expanded ? 'pi pi-angle-down' : 'pi pi-angle-left'"></i>
          </a>
          @if(item?.expanded){
          <ul class="sub-menu">
            @for(subitem of item?.subitems; track $index){
            <li>
              <a class="cursor-pointer" (click)="subitem?.action()">
                <section class="menu-icon">
                  <i [class]="subitem.icon"></i>
                </section>
                <span>{{subitem.label}}</span>
              </a>
            </li>
            }
          </ul>
          }
          }
        </li>
        }
      </ul>
    </section>
  </section>
</section>