<section class="p-2">
  <p class="m-0 font-bold"> Configurações gerais </p>
</section>
<section class="flex flex-row justify-content-around gap-3 p-3">
  <section class="w-6 border-round-2xl shadow-2">
    <app-list [list]="ods" [columns]="columnsODS" [title]="'ODS - Objetivo de Desenvolvimento Sustentável'"></app-list>
  </section>
  <section class="w-6 border-round-2xl shadow-2">
    <app-list [list]="ods" [columns]="columnsODS" [title]="'title 2'"></app-list>
  </section>
  <!-- <section class="w-5 border-round-2xl shadow-2">
    <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
    <app-list [list]="ods" [columns]="columnsODS"></app-list>
  </section>
  <section class="w-5 border-round-2xl shadow-2">
    <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
    <app-list [list]="ods" [columns]="columnsODS"></app-list>
  </section> -->
</section>