<section class="p-2">
  <p class="m-0 font-bold"> Configurações do evento </p>
</section>
<section class="flex flex-row flex-wrap justify-content-around gap-1 py-3">
  <section class="w-5 border-round-2xl shadow-2">
    <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
    <app-list [list]="ods" [columns]="columnsODS"></app-list>
  </section>
  <section class="w-5 border-round-2xl shadow-2">
    <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
    <app-list [list]="ods" [columns]="columnsODS"></app-list>
  </section>
  <section class="w-5 border-round-2xl shadow-2">
    <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
    <app-list [list]="ods" [columns]="columnsODS"></app-list>
  </section>
  <section class="w-5 border-round-2xl shadow-2">
    <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
    <app-list [list]="ods" [columns]="columnsODS"></app-list>
  </section>
</section>
