<!-- 
<p-scrollPanel [style]="{ width: '100%', height: '100%' }">
  <section class="flex flex-wrap justify-content-around gap-3 p-3">
    <section class="list border-round-xl shadow-2">
      <app-list [list]="ods" [configs]="configsODS" [columns]="columnsODS"
        [title]="'ODS - Objetivo de Desenvolvimento Sustentável'">
      </app-list>
    </section>
    <section class="list border-round-xl shadow-2">
      <app-list [list]="ods" [columns]="columnsODS" [title]="'title 2'"></app-list>
    </section>
    <section class="list border-round-2xl shadow-2">
      <app-list [list]="ods" [columns]="columnsODS" [title]="'title 2'"></app-list>
    </section>
    <section class="list border-round-2xl shadow-2">
      <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
      <app-list [list]="ods" [columns]="columnsODS"></app-list>
    </section>
    <section class="list border-round-2xl shadow-2">
      <p class="m-0 pt-2 pl-2 font-semibold">ODS - Objetivo de Desenvolvimento Sustentável</p>
      <app-list [list]="ods" [columns]="columnsODS"></app-list>
    </section>
  </section>
</p-scrollPanel> -->
<section class="w-full configs h-full">
  <section class="p-2 h-3rem">
    <p class="m-0 font-bold"> Configurações gerais </p>
  </section>
  <section class="content-list">
    <p-scrollPanel [style]="{ width: '100%', height: 'calc(100% - 3rem)' }">
      <section class="container gap-3 p-3">
        <section class="list border-round shadow-2">
          <app-list [list]="ods" [configs]="configsODS" [columns]="columnsODS"
            [title]="'ODS - Objetivo de Desenvolvimento Sustentável'">
          </app-list>
        </section>
        <section class="list border-round shadow-2">
          <app-list [list]="ods" [configs]="configsODS" [columns]="columnsODS"
            [title]="'ODS - Objetivo de Desenvolvimento Sustentável'">
          </app-list>
        </section>
        <section class="list border-round shadow-2">
          <app-list [list]="ods" [configs]="configsODS" [columns]="columnsODS"
            [title]="'ODS - Objetivo de Desenvolvimento Sustentável'">
          </app-list>
        </section>
        <section class="list border-round shadow-2">
          <app-list [list]="ods" [configs]="configsODS" [columns]="columnsODS"
            [title]="'ODS - Objetivo de Desenvolvimento Sustentável'">
          </app-list>
        </section>
        <section class="list border-round shadow-2">
          <app-list [list]="ods" [configs]="configsODS" [columns]="columnsODS"
            [title]="'ODS - Objetivo de Desenvolvimento Sustentável'">
          </app-list>
        </section>
      </section>
    </p-scrollPanel>
  </section>
</section>