<!-- <@if (type === 'login') {
<section class="flex flex-row gap-2 justify-content-between">
  <ng-template pTemplate="p-dialog-titlebar">
    sdab
  </ng-template>
  <form action="" formGroup="form">
    <section class="w-6">
      <input type="text" formControlName="email">
    </section>
  </form>
  <section class="w-6 h-5rem" style="background: linear-gradient(217.64deg, #809AF5 -5.84%, #3680EF 106.73%)">
    kjdsnjfsd
  </section>
</section>
}
@if (type === 'register') {
  <section class="flex flex-row gap-2">
    <form action="" formGroup="form">
      <section class="w-6">
        <input type="text" formControlName="email">
      </section>
    </form>
    <section class="w-6">

    </section>
  </section>
} -->
<p>adas</p>
