<section class="flex gap-3 flex-column w-full h-full md:flex-row p-3">
  <section class="w-2 h-full">
    <section class="surface-card shadow-3 w-full border-round-xl h-full">
      <app-sidenav />
    </section>
  </section>
  <section class="w-full h-full surface-card shadow-3 border-round-xl">
    <p-scrollPanel [style]="{ width: '100%', height: '100%' }">
      <section class="w-full h-full">
        <router-outlet></router-outlet>
      </section>
    </p-scrollPanel>
  </section>
</section>
