<section class="p-2 table">
  <p-table [value]="list">
    <ng-template pTemplate="header">
      <tr>
        @for (th of columns; track $index) {
        <th>{{th.header}}</th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-obj>
      <tr>
        @for (td of columns; track $index) {
        @if(td.isBoolean){
        <td class="text-center">
          <i [class]="obj[td?.field] ? 'pi text-green-500 pi-times-circle' : 'pi text-red-500 pi-times-circle'"></i>
          {{td?.field}}
        </td>
        }@else if (td.isAction) {
        <td class="flex flex-row gap-2 h-full">
          <p-button size="small" (click)="edit(obj)" icon="pi pi-pencil" [rounded]="true" [text]="true" [raised]="true"
            severity="warning "></p-button>
          <p-button size="small" (click)="del(obj, td?.api)" icon="pi pi-trash" [rounded]="true" [text]="true"
            [raised]="true" severity="danger "></p-button>
        </td>
        }@else {<td>{{obj[td?.field]}}</td> }
        }
      </tr>
    </ng-template>
  </p-table>
</section>
