<form [formGroup]="form" #formDir="ngForm">
  <section class="w-full flex flex-column h-full gap-2 px-3">
    <section class="flex justify-content-between pt-3">
      <span class="flex align-items-center cursor-pointer" (click)="navigation('/admin/evento')">
        <i class="pi pi-angle-left"></i>
        <p class="m-0">Voltar</p>
      </span>
      <p-button [loading]="loading" severity="success" class="m-1" (click)="save()">
        <p class="m-0 px-2 py-1 font-bold text-base">Salvar</p>
      </p-button>
    </section>
    <section class="w-full h-auto py-2">
      <section class="border-round-2xl h-20rem flex justify-content-between gap-4"
        [style.background]="imageUrl ? 'url(' + imageUrl + ') no-repeat center/cover' : '#6891F2'">
        <section class="w-6">

        </section>
        <section class="w-6 blur justify-content-around flex flex-column
        py-8 align-items-center gap-2 border-round-right-2xl">
          <section>
            <i class="pi pi-image text-8xl"></i>
          </section>
          <section class="evento flex cursor-pointer border-1 p-2
        border-round-xl">
            <label class="cursor-pointer" for="file">
              <i class="pi pi-upload cursor-pointer"></i> Upload
            </label>
            <input type="file" id="file" class="form-control" accept="image/*" (change)="createPhoto($event)">
          </section>
        </section>
      </section>
    </section>
  </section>
</form>