.evento input[type="file"] {
  display: none;
}

.reset-input {
 background: none;
 border: none;
 outline: none;
 resize: none;
}

.blur {
  backdrop-filter: blur(4px);
  background-color: hsla(0, 0%, 100%, .5);
}
