<form class="w-full h-full" [formGroup]="form" #formDir="ngForm">
  <section class="w-full flex flex-column gap-2 px-3">
    <section class="flex justify-content-between pt-2">
      <span class="flex align-items-center cursor-pointer" (click)="navigation('/admin/eventos')">
        <i class="pi pi-angle-left"></i>
        <p class="m-0">Voltar</p>
      </span>
      <p-button [loading]="loading" severity="success"(click)="save()">
        <p class="m-0 font-bold text-base">Salvar</p>
      </p-button>
    </section>
    <section class="w-full h-auto py-2">
      <section class="shadow-1 border-round-2xl h-20rem flex justify-content-between gap-4"
        [style.background]="imageUrl ? 'url(' + imageUrl + ') no-repeat center/cover' : form.value.cor">
        <section class="w-6 flex flex-column gap-2">
          <p class="m-0 font-bold py-3 px-2 text-white">Titulo em estaque :</p>
          <section class="p-1 flex flex-column justify-content-around h-full">
            <section class=" w-9 pl-5 h-full">
              <textarea maxlength="40" pInputTextarea formControlName="nameCard"
                [className]="'font-normal text-6xl w-full text-left h-full reset-input text-white'"
                [placeholder]="'Clique para editar'"></textarea>
            </section>
          </section>
        </section>
        <section class="w-6 blur justify-content-around flex flex-column
        py-8 align-items-center gap-2 border-round-right-2xl">
          <section>
            <i class="pi pi-image text-8xl"></i>
          </section>
          <section class="evento flex cursor-pointer border-1 p-2
        border-round-xl">
            <label class="cursor-pointer" for="file">
              <i class="pi pi-upload cursor-pointer"></i> Upload
            </label>
            <input type="file" id="file" class="form-control" accept="image/*" (change)="createPhoto($event)">
          </section>
        </section>
      </section>
    </section>
    <section class="w-full  gap-2 py-2 flex flex-row justify-content-between">
      <section class="flex flex-column gap-2 w-full">
        <section class="flex flex-row justify-content-between ">
          <input [className]="'w-full reset-input font-semibold text-xl'" pInputText id="username"
            formControlName="name" placeholder="Clique para adicionar o nome do evento" />
          <ngx-colors ngx-colors-trigger formControlName="cor" acceptLabel="selecionar"
            cancelLabel="fechar"></ngx-colors>
        </section>
        <section class="w-full flex align-items-center">
          <i class="pi pi-map-marker font-normal text-base"></i>
          <input [className]="'w-full reset-input font-normal text-base'" pInputText id="address"
            formControlName="address" placeholder="Clique para adicionar a localização" />
        </section>
        <section>
          <p><i class="pi pi-calendar"></i> {{getData()}}</p>
          <p><i class="pi pi-clock"></i> {{getHora()}}</p>
        </section>
        <section class="w-full h-full">
          <p class="m-0 text-base font-normal">Descrição do evento:</p>
          <textarea pInputTextarea formControlName="description"
            [className]="'font-normal pl-1 h-full text-lg w-full  text-left reset-input'"
            [placeholder]="'Clique para adicionar uma descrição'"></textarea>
        </section>
      </section>
      <section class="">
        <p-calendar class="w-5rem" formControlName="dateHora" [inline]="true" [showTime]="true"></p-calendar>
      </section>
    </section>
  </section>
</form>
